.ctn{
  width: 100%;
  font-family: serif;
}

.wrp{
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left{
  width: 500px;
}

.left h1{
  font-size: 4rem;
  font-weight: 50;
  margin-bottom: 30px;
  line-height: .95;
}

.left h1 span{
  font-size: 9rem;
  letter-spacing: 0px;
  font-weight: 500;
}

.left h2{
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 30px;
}

.right img{
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
}


@media screen and (max-width: 900px) {
.wrp{
  padding: 100px 10px;
  flex-direction: column-reverse;
}

.left{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.left h1{
  width: fit-content;
  font-size: 1.8rem;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: 300;
}

.left h1 span{
  font-size: 4rem;
}

.left h2{
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

.left h1::after{
  top: -3px;
  left: 1px;
  width: 20px;
}

.right{
  width: 100%;
}
}